{{extend 'layout.html'}}

<div id="placeholder"></div>

<ul id="servers">
{{for s in servers:}}
<li>
  <a href="{{=URL('reports', args=s.id)}}">{{=s.address}}</a>
  <a class="undercover server-link" href="{{=URL('server', args=s.id)}}">{{=T('Edit')}}
</li>
{{pass}}
<li><a class="server-link" href="{{=URL('server')}}">{{=T('Add new')}}</a></li>
</ul>

<script type="text/javascript">
    function prepareForm(href){
	$("form").submit(function(){
	    $.post(href, $(this).serialize(), function(data){
		if(data.indexOf("error") == -1){
		    console.log("done");
		} else {
		    $("#placeholder").html(data);
		    prepareForm(href);
		}
	    });
	    return false;
	});
    }
    $(function(){
	$(".server-link").click(function(e){
	    var href = $(this).attr("href");
	    $("#placeholder").load($(this).attr("href"), function(){
		$(this).slideDown();
		prepareForm(href);
	    });
	    e.preventDefault();
	});
	$("#servers li").mouseover(function(){
	    $(this).children("a.undercover").fadeIn();
	}).mouseleave(function(){
	    $(this).children("a.undercover").fadeOut();
	});
    });
</script>